// COLORS
$color-black: #251000;
$color-grey-light: #e9e6e1;

$color-yellow-light: #FEF2DB;
$color-yellow-medium: #fbdca6;
$color-yellow-mediumdark: #ffca6d;
$color-yellow-dark: #e09f27;

$color-blue-link: #0084bb;
$color-blue-link-dark: #003c55;

// FONT SIZES
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// padding for all content
$padding-header-footer-main: 3rem;